.tp-bgimg .defaultimg {
    height: 100%;
    opacity: 0.6;
}

.mkd-parallax-section-holder.mkd-vertical-middle-align {
    background-size: cover;
}

.slotholder {
    opacity: 0.6;
}

.footer .mkd-footer-top:not(.mkd-footer-top-full) .mkd-container-inner {
    padding: 25px 0px 0px 0px;
}

.mkd-title.mkd-content-center-alignment {
    height: 687px;
    background-size: cover;
}