.mkd-iwt-over {
	position: relative;
    display: inline-block;
    vertical-align: middle;

	.mkd-text-holder {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		.mkd-text-holder-inner {
			display: table;
			width: 100%;
			height: 100%;
			background-color: rgba(23, 23, 23, 0.5);
			opacity: 0;
			@include mkdTransition(opacity 0.3s ease);
		}

		.mkd-text {
			display: table-cell;
			text-align: center;
			width: 90%;
			vertical-align: middle;
			@include mkdTransform(translateY(30px));
			@include mkdTransition(all 0.25s ease);

		}
	}

	&:hover {
		.mkd-text-holder-inner {
			opacity: 1;
		}

		.mkd-text {
			@include mkdTransform(translateY(0));
		}
	}

	.mkd-image-holder img {
		display: block;
	}
}