.mkd-section-title-holder {
	.mkd-section-title {
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 5px;
		line-height: 62px;

		&.mkd-section-title-large {
			font-size: 37px;
		}

		&.mkd-section-title-medium {
			font-size: 30px;
		}

		&.mkd-section-title-small {
			font-size: 26px;
		}
	}
}