
.mkd-static-text-slider-holder {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 100%;
	box-sizing: border-box;

	.mkd-static-text-slider-images-holder {
		float: left;
		width: 66%;

		.flexslider {
			opacity: 0; // opacity via JS
			position: relative;
		}

		.slides {
			margin: 0px;

			li {
				position: relative;

				img {
					display: inline-block;
					vertical-align: middle;
					width: 100%;
				}

			}
		}

		.flex-direction-nav {
			height: 0;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;

				&:hover {
					a {
						opacity: .7;
					}
				}

				a {
					font-size: 27px;
					position: absolute;
					display: block;
					vertical-align: middle;
					top: 50%;
					margin: 0;
					padding: 0;
					opacity: 1;
					z-index: 10;
					font-weight: 200;
					cursor: pointer;
					text-decoration: none;
					text-align: center;
					text-shadow: none;
					color: #fff;
					-webkit-transform-origin: 50% 0;
					transform-origin: 50% 0;
					@include mkdTransform(translateY(-50%));
					@include mkdTransition(opacity .2s ease);

					sup, sub {
						font-size: 15px;
						font-weight: 400;
					}

					sup {
						margin-right: -10px;
						position: relative;
						top: -12px;
					}

					sub {
						margin-left: -10px;
						position: relative;
						top:0px;
					}

					&:before {
						display: block;
						vertical-align: middle;
						font-size: 30px;
						line-height: 39px;
						color: inherit;
						font-family: 'ElegantIcons' !important;
					}

					&.flex-prev {
						left: 17px;

						&:before {
							content: '\23';
						}
					}

					&.flex-next {
						right: 17px;

						&:before {
							content: '\24';
						}
					}

				}
			}
		}
	}

	.mkd-static-text-slider-text-holder {
		background-color: #eff5f7;
		position: absolute;
		top: 0;
		right: 0;
		width: 34%;
		height: 100%;
		padding: 0 50px;

		@include mkdBoxSizing(border-box);

		.mkd-static-text-slider-text {
			@include mkdTableLayout();

			.mkd-static-text-slider-text-inner {
				@include mkdTableCellLayout();
				text-align: left;

				h2 {
					margin: 0;
					padding: 0;
					line-height: 1em;
				}

				p {
					margin: 20px 0px;
					color: $second-text-color;
				}

				.mkd-btn {
					margin: 10px 0 6px;
				}
			}
		}

	}
}