.woocommerce-cart .woocommerce {
	//cart table styles
	form:not(.woocommerce-shipping-calculator) {
		background-color: #fff;
		border: 1px solid #eaeaea;
		padding: 0 30px;

		table {
			border: none;
		}

		tr {
			border: none;
			border-bottom: 2px dotted #d8d4db;
		}

		td, th {
			padding: 20px 10px 19px 30px;
			text-align: left;
		}

		td {
			vertical-align: middle;
			font-size: 18px;
			font-family: $default-font-family;
			font-weight: 400;
			color: $default-text-color;
		}

		tbody tr {
			&:last-child {
				border-bottom: none;
			}
		}

		thead {
			border-bottom: 2px dotted #d8d4db;
			font-family: $default-font-family;
			font-size: 18px;
			color: $first-main-color;

			tr {
				border-bottom: none;
			}

			th {
				text-transform: uppercase;
				font-weight: 500;
				padding: 20px 10px 19px 30px;
			}
		}

		.product-remove {
			font-size: 24px;
			text-align: center;
			position: relative;

			a {
				color: $first-main-color;
				position: absolute;
				top: 50%;
				right: 11px;
				height: 20px;
				line-height: 18px;
				width: 20px;
				@include mkdTransform(translateY(-50%));

				@include mkdTransition(all 0.3s ease);

				&:hover {
					@include mkdTransform(translateY(-50%) rotate(180deg));
				}
			}
		}

		.product-thumbnail {
			img {
				display: block;
				width: 123px;
			}
		}

		.product-quantity {
			.mkd-quantity-label {
				display: none;
			}
		}

		.product-name {
			a {
				font-family: $additional-font-family;
				color: $default-text-color;
				font-weight: 400;
				font-size: 14px;
				font-style: italic;

				&:hover {
					color: $first-main-color;
				}
			}

			span.posted_in {
				display: inherit;
				color: #999;
				font-size: 14px;

				a {
					color: #999;
					font-size: 14px;
				}
			}

			span.mkd-woo-title {
				display: block;
				font-size: 18px;
				font-weight: 500;
				color: $second-text-color;
				text-transform: uppercase;
			}
		}

		table.shop_table.cart .mkd-btn {
			padding: 7px 30px;
			font-size: 14px;
			font-weight: 600;
			min-width: 135px;
		}

		.actions {
			@include mkdClearfix();

			padding: 22px 30px;
			border-top: 1px solid #ebebeb;

			.coupon,
			.mkd-cart-proceed-update {
				float: left;
				width: 50%;

				@include mkdBoxSizing(border-box);
			}

			.mkd-cart-proceed-update {
				text-align: right;
				margin-top: 3px;

				input[type=submit] {
					margin-left: 10px;
					padding: 15px 27px;
					margin-right: 12px;
				}

				.mkd-btn.checkout-button {
					padding: 15px 27px;
				}
			}

			.coupon {
				@include mkdClearfix();

				label {
					display: none;
				}

				input[type=text] {
					width: 100%;
					margin-bottom: 30px;
					padding: 17px;
					outline: 0;
					font-family: $additional-font-family;
					font-size: 12px;
					font-weight: 400;
					font-style: italic;
					color: $default-text-color;
					border: 1px solid #eaeaea;

					@include mkdBoxSizing(border-box);
					@include mkdTransition(border-color 0.2s ease-out);

					&:focus {
						border-color: $first-main-color;
					}

					resize: none;

					background-color: #fff;
					margin-bottom: 0;
					display: inline-block;
					width: 50%;
					margin-right: -4px;
				}

				.mkd-btn {
					padding: 15px 27px;
					margin-top: -2px;
					height: 52px;
					margin-left: -4px;
				}
			}
		}

		.mkd-cart-table-bottom {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.cart-collaterals {
		@include mkdClearfix();

		.woocommerce-shipping-calculator {
			max-width: 400px;
		}

		.mkd-calculate-shipping-title {
			position: relative;
			margin-bottom: 37px;

			a {
				display: block;
			}

			&:after {
				content: '\e874';
				font-family: 'Linearicons-Free';
				font-size: 10px;
				position: absolute;
				top: 50%;
				right: 22px;
				font-weight: 600;

				@include mkdTransform(translateY(-50%));
			}
		}

		.mkd-shipping-calculator {
			float: left;
			padding-top: 46px;
			width: 40%;

			@include laptop-landscape {
				width: 100%;
			}

			.woocommerce-shipping-calculator > p {
				font-size: 24px;
				margin-bottom: 30px;
				font-family: $default-font-family;

				&:after {
					content: '';

					width: 33px;
					margin-top: 20px;
					margin-bottom: 20px;
					display: block;
					border-bottom: 3px solid $first-main-color;
					height: 0;
				}

				a {
					display: block;
					position: relative;

					color: $default-text-color;

					&:hover {
						color: $first-main-color;
					}

					span {
						position: absolute;
						right: 0;
						top: 3px;
					}
				}
			}

			.form-row {
				input[type=text] {
					@include inputStyle();
					margin-bottom: 15px;
					padding: 17px 24px 16px;
				}

				.select2-container {
					margin-bottom: 15px;
				}

				.select2-choice {
					border: none;
					font-size: 12px;
					color: $default-text-color;
					font-family: $additional-font-family;
					font-style: italic;
					height: 54px;
					line-height: 54px;
					box-sizing: border-box;
					box-shadow: none;
					border: 1px solid #ebebeb;

					.select2-arrow b {
						font-style: normal;
					}
				}

				.select2-chosen {
					color: $default-text-color;
					font-family: $additional-font-family;
				}
			}
		}

		.mkd-cart-totals {
			float: right;
			width: 60%;

			@include laptop-landscape {
				width: 100%;
			}

			.cart_totals.calculated_shipping {
				text-align: right;
			}

			h2 {
				font-size: 24px;
				margin-bottom: 30px;
			}

			table {
				display: block;
				text-align: right;

				tbody {
					display: block;
					@include mkdClearfix();
				}

				tr {
					border: none;
					display: inline-block;
					margin-left: -4px;
					background-color: #fff;
					border-left: 1px solid #eaeaea;
					border-bottom: 1px solid #eaeaea;
					height: 86px;
					padding: 0 20px;
					box-sizing: border-box;

					@include ipad-portrait {
						display: block;
						margin-left: 0;
					}

					&:last-child {
						border-right: 1px solid #eaeaea;
					}

					&.order-total {
						th, td {
							color: $first-main-color;
						}
					}
				}

				th {
					border-right: 0;
					font-weight: 400;
					font-size: $default-text-size;
				}

				td {
					font-weight: 500;
					font-size: 13px;

					strong, span {
						font-weight: 600;
						font-size: 18px;
					}
				}

				th, td {
					display: block;
					float: left;
					top: 50%;
					position: relative;

					@include mkdTransform(translateY(-50%));
				}
			}
		}
	}

	.cross-sells {
		margin-top: 40px;

		h2 {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
}